.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.logo__image {
  width: 228px;
  height: 32px;
}

.header__title {
  z-index: 99;
  width: 730px;
  margin-left: 64px;
}

.header__text {
  margin: 0;
  padding: 0;
}

.header__text_type_header {
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}

.header__text_type_paragraph {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  z-index: 98;
  bottom: 30px;
  width: 388px;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 97;
  width: 765px;
  height: 608px;
  background: url("/images/header-image.png");
  background-size: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 90;
  width: 568px;
  height: 568px;
  background: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}
.two-columns__span-accent {
  font-weight: 600;
}
.two-columns__paragraph:last-child {
  margin: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 890px;
}

.feynman__title {
  display: flex;
  justify-content: center;
  width: 648px;
  margin: 0;
  padding: 0;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 867px;
  height: 637px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}



.content_indent-top_m {
  margin-top: 100px;
}

.content_indent-top_xs {
  margin-top: 20px;
}
